header {
	background-color: #333;
	color: #fff;
	padding: 10px;
}

nav ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

nav li {
	display: inline-block;
	margin-right: 10px;
}

nav li a {
	color: #fff;
	text-decoration: none;
	padding: 5px;
}

footer {
	background-color: #333;
	color: #fff;
	padding: 10px;
	text-align: center;
	bottom: 0;
    position: absolute;
    width: 100%;
}

.central{
	background-color: #f9f9f9;
}